<html lang="ru">
<head>
    <title>Вход</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/assets/favicon.ico" type="image/icon">
    <link rel="stylesheet" href="static/css/index.css">
</head>
<body>
    <header>
        <p><h1>Telegram Cloud: Рисовое печенье</h1></p>
        <p>Мне лень было писать пафосную речь и описание</p>
    </header>
    <div id="auth-sections">
        <div class="auth-section">
            <p><h1>Регистрация</h1></p>
            <p>Запустите телеграм бота <a href="https://t.me/PasinBot">@PasinBot</a> и следуйте дальнейшим указаниям</p>
            <p><input type="text" placeholder="Код регистрации"></p>
            <p><input type="text" placeholder="Логин"></p>
            <p><input type="password" placeholder="Пароль"></p>
            <p><input type="password" placeholder="Повтор пароля"></p>
            <p><input type="button" value="Зарегистрироваться"></p>
        </div>
        <div class="auth-section">
            <p><h1>Авторизация</h1></p>
            <p><input type="text" placeholder="Логин"></p>
            <p><input type="password" placeholder="Пароль"></p>
            <p><input type="button" value="Войти"></p>
        </div>
    </div>
</body>
</html>